/* Custom Classes forUse */

.bg-pink {
    background-color: #c12c3e;
}

.color-pink {
    color: #c12c3e;
}

.btn-theme {
    background-color: #c12c3e;
    padding: 5px 20px;
    color: #fff;
    outline: none;
}

.btn-theme:focus {
    box-shadow: none;
}

.btn-theme:hover {
    color: #fff;
    box-shadow: 0px 0px 0px 4px rgba(255, 0, 70, 0.5), 0px 0px 0px 7px rgba(255, 0, 77, 0.3);
}

.title {
    text-transform: uppercase;
    letter-spacing: 3px;
}

html,
body {
    font-family: 'Poppins', sans-serif;
}

#main-home {
    width: 100%;
    min-height: 650px;
    background: url(../img/bg-home.jpg);
    background-size: 100% 100%;
}

.top-header .item a {
    color: #000000;
}

.top-header .item a:hover {
    color: #c12c3e;
}

.cart {
    padding: 5px 10px !important;
}

.nav-item {
    padding: 0 15px;
}

.navbar .nav-item .nav-link {
    color: #000000;
}

.navbar .nav-item .nav-link:hover {
    color: #c12c3e;
}

#banner-section {
    padding-top: 50px;
}

#banner-section .owl-carousel .owl-nav button {
    position: absolute;
    top: 30%;
    outline: none;
}

#banner-section .owl-carousel .owl-dots {
    position: absolute;
    bottom: -6rem;
    left: 50%;
    transform: translateX(-50%);
}

#banner-section .owl-carousel .owl-dots button span {
    background-color: #c8c8c8;
    padding: 6px !important;
}
.active-menu{
    border-bottom: 2px solid #c12c3e;

}

#banner-section .owl-carousel .owl-dots button.active span {
    background-color: #c12c3e;
}

#banner-section .owl-carousel .owl-nav button {
    position: absolute;
    top: 30%;
    outline: none;
}

#banner-section .owl-carousel .owl-nav button.owl-prev {
    left: 0;
}

#banner-section .owl-carousel .owl-nav button.owl-next {
    right: 0;
}

#banner-section .owl-carousel .owl-nav button.owl-prev span,
#banner-section .owl-carousel .owl-nav button.owl-next span {
    font-size: 56px;
    padding: 0 1rem;
    color: #c12c3e;
}

#banner-section .owl-carousel .owl-nav button.owl-prev span {
    margin-left: -5rem;
}

#banner-section .owl-carousel .owl-nav button.owl-next span {
    margin-right: -5rem;
}


/* About Section */

#about-section {
    background: url(../img/about-bg.png);
    background-size: 100% 100%;
}

#about-section .overlay {
    background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 107.24%);
    padding: 50px 0;
}

#about-section h1 {
    color: #FFFFFF;
}

#about-section .overlay .text-about {
    width: 50%;
}

#about-section .btn i.fas,
#offer-section .btn i.fas {
    margin-left: 10px;
}

#offer-section {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #EEEEEE 100%), #FFFFFF;
    padding: 80px 0;
}

#divider {
    background-color: #EEEEEE;
    text-align: center;
}

#divider hr {
    margin: 0;
    width: 10%;
    height: 1px;
    margin: auto;
}

#gallery-section {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #EEEEEE 100%), #FFFFFF;
    padding: 80px 0;
}

#gallery-section .gallery .item {
    width: 33%;
}

#gallery-section img {
    width: 100%;
    height: 400px;
}

#contact-section {
    background: url(../img/contact-bg.png);
    background-size: 100% 100%;
    padding: 80px 0;
}
#contact-section form .form-control {
    background-color: rgba(255, 255, 255, 0.8);
    border-color: #c12c3e;
    padding-left: 20px;
    margin: 10px 0;
}

#contact-section form .form-control {
    resize: none;
}

#contact-section form .form-control:focus {
    box-shadow: 0 0 5px 0 #c12c3e;
}

#footer .footer-top {
    background: #EEEEEE;
    padding: 50px 0;
}

#footer .footer-top .social {
    width: 50%;
    margin-left: 20px;
}

#footer .footer-top form input {
    background-color: rgba(255, 255, 255, 0.8);
    border-color: #c12c3e;
    padding-left: 20px;
    margin: 10px 0;
}

#footer .footer-top form .form-control:focus {
    box-shadow: 0 0 5px 0 #c12c3e;
}

#footer .footer-top .social a i {
    font-size: 24px;
    color: #000000;
    transition: 0.5s ease;
}

#footer .footer-top .social a i:hover {
    color: #c12c3e;
}

#footer .footer-bottom {
    color: #ffffff;
    background-color: #c12c3e;
    padding: 20px 0 1px;
    text-align: center;
}

#footer .footer-bottom a {
    color: #FFFFFF;
}


/* Responsive Styling */

@media only screen and (max-width:800px) {
    #banner-section {
        padding: 50px 0;
    }
    #banner-section .owl-carousel .owl-nav {
        display: none;
    }
    #banner-section .owl-carousel .owl-dots {
        bottom: -2rem;
    }
    #about-section {
        background-size: cover;
    }
    #about-section .overlay .text-about {
        width: 75%;
    }
    #contact-section {
        background-size: cover;
    }
    #gallery-section .gallery .item {
        width: 49%;
    }
    #gallery-section .gallery .item img {
        width: 100%;
    }
}

@media only screen and (max-width:580px) {
    .top-header>.d-flex {
        flex-direction: column;
    }
    .top-header>.d-flex>.item {
        padding: 5px 0;
    }
    #banner-section {
        padding: 50px 0;    
    }
    #banner-section .owl-carousel .owl-nav {
        display: none;
    }
    #banner-section .owl-carousel .owl-dots {
        bottom: -2rem;
    }
    #about-section .overlay .text-about {
        width: 100%;
    }
    #offer-section .d-flex {
        flex-direction: column;
    }
    #footer .footer-top .social {
        width: 50%;
        margin: auto;
    }
    #footer .footer-top .newsletter {
        padding-bottom: 30px;
    }
}
.searchFilter {
    margin-bottom: 20px;    
  }
   .searchFilter.btn {
      display: inline-block;
      font-weight: 400;
      line-height: 1.25;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 1px solid transparent;
      padding: .5rem 1rem;
      font-size: 16px;
      border-radius: .25rem;
      height: 50px;
      min-width: 20px;
  }
  .searchFilter .btn-secondary {
      color: #373a3c;
      background-color: #fff;
      border: 1px solid #ccc;
  }
  .searchFilter .btn-secondary:hover {
      color: #373a3c;
      background-color: #e6e6e6;
      border-color: #adadad;
  }
  .searchFilter .btn-search {
    background-color: #00aced;
    color: #fff;
    border: 1px solid #00aced;
  }
  .searchFilter .btn-search:hover {
    background-color: #b20a11;
    color: #fff;
    border: 1px solid #b20a11;
  }
  .searchFilter .label-icon {
    display: none;  
  }
  .searchFilter .glyphicon {
      margin-right: -15px;
  }
  .searchFilter .dropdown-menu .category_filters {
    min-width: 178px;
    width: 100%;
    margin: 15px 0 0 -25px;
  }
  .searchFilter .dropdown-menu-right {
      right: 170px;
      min-width: 175px;
    top: 90%;
  }
  .searchFilter .dropdown-menu .category_filters li {
    list-style-type: none;
    padding: 2px 10px;
    font-size: 18px;
  }
  .searchFilter .dropdown-menu .category_filters label {
    margin-left: 15px;
  }
  @media (min-width: 1400px) {
    .ct-header .ct-jumbotron .inner {
      max-width: 470px;
      min-height: 230px;
    }  
  }
  @media (max-width: 1400px) {
    .ct-header-slider .item {
      background-size:contain;
      background-repeat: no-repeat;
      background-position: center top;
    }  
  }
  @media (min-width: 769px) and (max-width: 1400px) {
    .ct-header-slider .item {
      height: auto;  
    }
  }
  @media (max-width: 1260px) {
    #dots-container {
      display: none;
    }
  }
  @media (min-width: 992px){
    .ct-footer2 .ct-newsletter {
      max-width: 100%;
    }
    #dots-container {
      bottom: 100px;
    } 
  }
  @media (min-width: 768px){
    .ct-searchbar:before {
      height: 92px;
      bottom: -1px;
    }
    .page-scrolled .navbar .navbar-nav li > * {
      min-height: 67px;
      height: 67px;
    }
    .page-scrolled .navbar .navbar-nav {
      height: 100%!important;
    }
    .ct-current-facts h2 {
      margin: 0 auto 0px;
    }
    .contentNews .ct-recent-news {
      flex-direction: inherit;
    }
    .contentFaq .faq_question .col-sm-11 {
      padding-right: 0px;
    }
    .peopleDetail h2 {
      margin-top: -5px;
    }
    .searchFilter .btn {
      min-width: 172px;  
    }
    .searchFilter .label-icon {
      display: inline-block;  
    }
    .searchFilter .glyphicon {
      margin-right: -5px;
    }
    .ct-header .ct-jumbotron {
      top: 0;
      margin-top: 5%;
    }
    .ct-header .ct-jumbotron h1 {
      font-size: 2.5em;
    }
    .ct-news.ct-news--bigger h3 {
      font-size: 41px;
      line-height: 1.4;
    }
  }
  @media (max-width: 768px){
    .ct-header .ct-jumbotron {  
      width: 80%;
      margin: 20px 10px;
      top: 40%;
      width: 95%;
    }
    .ct-header .ct-jumbotron .inner {
      max-width: 100%;
    }
    #dots-container {
      display: none;
    }
    .main-section {
      margin-top: -80px;
    }
    .searchFilter .dropdown-menu-right {
    right: 0px;
    }
  }
  